.weatherContainer {
    background: linear-gradient(to bottom, #8CB5E1, #B5A0D5, #AFC58F);
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.weatherHeader{
    display: flex;
    justify-content: space-between;
}
.subHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0;
}
p{
    margin: 0;
}
.vr{
    width: 1px;
    background-color: white;
    height: 100%;
}

.currentWeather {
    font-size: 1.5rem;
}

.currentWeather img {
    width: 150px
}

.forecast {
    display: flex;
    justify-content: space-between;
    
}

.forecastDay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecastDay img {
    width: 50px;
}

